// Background colors
$primary-bg-color: rgb(21, 21, 21);
$secondary-bg-color: white;
$band-bg-color: rgb(251, 161, 56);

// Text colors
$band-text-color: white;
$primary-text-color: rgb(250, 230, 1);
$normal-text-color: white;

// Others
$navbar-background-color: black;
