@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&display=swap");
@import url("https://fonts.cdnfonts.com/css/cocogoose");
@import url("https://fonts.cdnfonts.com/css/cocogoose-pro");

// General
@import "./shared/colors.scss";
@import "./shared/general.scss";

// Components
@import "./../scripts/components/components.scss";

// Pages
@import "./../scripts/pages/pages.scss";

header{
    height: 4.5rem;
    position: relative;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}